<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campus Connect</title>
    <link rel="icon" href="https://qph.cf2.quoracdn.net/main-qimg-c5f5739457afba5604fa49ec261d6303" type="image/x-icon">
    <style>
      html {
        background-image: url(/photos/background.jpg);
        background-size: cover;
      }

      body > div.overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
        bottom: 200px;
        right: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(20, 20, 20, 0.5);
      }

      body > div.overlay > .error-middle {
        margin-top: 180px;
        margin-left: 205px;
        display: flex;
        flex-direction: column;
        line-height: 3px;
      }

      body {
        color: #fefefe;
      }
      .btn {
        width: 150px;
        background-color: #5995fd;
        border: none;
        outline: none;
        height: 49px;
        border-radius: 49px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        margin: 10px 0;
        cursor: pointer;
        transition: 0.5s;
      }
    </style>
  </head>
  <body>
    <div class="overlay">
      <div class="error-middle">
        <h1>Error 401 - Unauthorized Access</h1>
        <h2>Denied due to invalid credentials.</h2>
        <p>Oops! Something went wrong with your sign-in.</p>
        <p>Please check your credentials and try again.</p>
        <button type="submit" class="btn">Retry Sign In</button>
      </div>
    </div>
    <script>
        let btn = document.querySelector("button");
        btn.addEventListener("click",(event)=>{
            window.location.href = "http://localhost:8080/login";
        })
    </script>
  </body>
</html>
