<button
  id="payButton"
  style="
    background-color: #528ff0;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    width: 100%;
    position:relative;
    top: 20px;
  "
>
  Pre-register
</button>

<script>
  document.getElementById("payButton").onclick = function () {
    window.open("https://pages.razorpay.com/pl_PQcp8Xf5D2Bbt0/view", "_blank");
  };
</script>
