<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="home/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a rel="noopener" href="#">Home</a>
        <a rel="noopener" href="http://localhost:8080/home/about">About</a>
        <a rel="noopener" href="#info">Info</a>
        <!-- <a rel="noopener" href="https://jcer.in/">Review</a> -->
        <a rel="noopener" href="http://localhost:8080/home/contact">Contacts</a>
        <a rel="noopener" href="http://localhost:8080/home/fiq">FAQ</a>
      </nav>
    </header>

    <!-- carousel -->
    <div class="carousel">
      <!-- list item -->
      <div class="list">
        <div class="item">
          <img src="home/image/jain - blur.jpg" alt="jain college" />
          <div class="content">
            <!-- <div class="author">LUNDEV</div> -->
            <div class="title">JAIN COLLEGE OF ENGINEERING AND RESEARCH</div>
            <div class="topic">Belagavi</div>
            <div class="des">
              682/2, 683/2A, Udyambag, Angol, Belagavi, Karnataka 590008
            </div>
            <div class="buttons">
              <button>SEE BUSES</button>
              <!-- <button>SUBSCRIBE</button> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="home/image/kle - blur.jpg" alt="kle college" />
          <div class="content">
            <!-- <div class="author">LUNDEV</div> -->
            <div class="title">KLE TECHNOLOGICAL UNIVERSITY</div>
            <div class="topic">Belagavi</div>
            <div class="des">
              <!-- lorem 50 -->
              Angol Main Rd, KLEMSSCET, kalameshwar Housing Colony, Udyambag,
              Belagavi, Karnataka 590008
            </div>
            <div class="buttons">
              <button>SEE BUSES</button>
              <!-- <button>SUBSCRIBE</button> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="home/image/gogte - blur.jpg" alt="gogte college" />
          <div class="content">
            <!-- <div class="author">LUNDEV</div> -->
            <div class="title">GOGTE INSTITUTE OF TECHNOLOGY</div>
            <div class="topic">Belagavi</div>
            <div class="des">
              Udyambag Industrial Area, Udyambag, Belagavi, Karnataka 590006
            </div>
            <div class="buttons">
              <button>SEE BUSES</button>
              <!-- <button>SUBSCRIBE</button> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="home/image/sgbit - blur.jpg" alt="sgbit college" />
          <div class="content">
            <!-- <div class="author">LUNDEV</div> -->
            <div class="title">SG BALEKUNDRI INSTITUTE OF TECHNOLOGY</div>
            <div class="topic">Belagavi</div>
            <div class="des">Nehru Nagar, Belagavi, Karnataka 590010</div>
            <div class="buttons">
              <button>SEE BUSES</button>
              <!-- <button>SUBSCRIBE</button> -->
            </div>
          </div>
        </div>
      </div>
      <!-- list thumnail -->
      <div class="thumbnail">
        <div class="item">
          <img src="home/image/jain.jpg" alt="jain college" />
          <div class="content">
            <div class="title">JAIN COLLEGE OF ENGINEERING AND RESEARCH</div>
            <!-- <div class="description">
                          Description
                      </div> -->
          </div>
        </div>
        <div class="item">
          <img src="home/image/kle.jpg" alt="kle college" />
          <div class="content">
            <div class="title">KLE TECHNOLOGICAL UNIVERSITY</div>
            <!-- <div class="description">
                        Description
                    </div> -->
          </div>
        </div>
        <div class="item">
          <img src="home/image/gogte.jpg" alt="gogte" />
          <div class="content">
            <div class="title">GOGTE INSTITUTE OF TECHNOLOGY</div>
            <!-- <div class="description">
                        Description
                    </div> -->
          </div>
        </div>
        <div class="item">
          <img src="home/image/sgbit.jpg" alt="sgbit" />
          <div class="content">
            <div class="title">SG BALEKUNDRI INSTITUTE OF TECHNOLOGY</div>
            <!-- <div class="description">
                        Description
                    </div> -->
          </div>
        </div>
      </div>
      <!-- next prev -->

      <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
      </div>
      <!-- time running -->
      <div class="time"></div>
    </div>
    <div id="info">
      <h1>About Us</h1>
      
      <h3>Welcome to Student Portal</h3>
      
      <p>
        we understand that finding the right place to live and eat is crucial
        for students and professionals alike. Our mission is to connect
        individuals with quality paying guest accommodations and nutritious mess
        facilities that feel like home.
      </p>
      
      <h3>Our Vision</h3>
      
      <p>
        We aim to create a supportive community where everyone can thrive. We
        believe that comfort, safety, and affordability should be accessible to
        all, making it easier for you to focus on what truly matters—your
        studies or career.
      </p>
      
      <h3>What We Offer</h3>
      
      <ul>
        <li>
          <p>
            <strong>Diverse Listings:</strong>We provide a wide range of PG
            options and mess services, catering to various preferences and
            budgets.
          </p>
        </li>
        <li>
          <p>
            <strong>Quality Assurance: </strong>Each listing is vetted to ensure
            it meets our high standards for safety, cleanliness, and comfort.
          </p>
        </li>
        <li>
          <p>
            <strong>Community Focus: </strong>We foster a sense of belonging by
            connecting like-minded individuals through shared living
            experiences.
          </p>
        </li>
      </ul>
      
      <h3>Our Values</h3>
      <ul>
        <li>
          <p>
            <strong>Affordability:</strong>We strive to offer competitive
            pricing without compromising on quality.
          </p>
        </li>
        <li>
          <p>
            <strong>Trust:</strong>We prioritize transparency, ensuring that our
            users can make informed decisions.
          </p>
        </li>
        <li>
          <p>
            <strong>Support: </strong>Our dedicated team is here to assist you
            at every step, from searching for a place to moving in.
          </p>
        </li>
      </ul>
      <p>
        Join us at [Your Company Name] and experience a seamless transition to
        your new home away from home. Together, let’s make living away from home
        a fulfilling experience!
      </p>
    </div>

    <script src="/home/app.js"></script>
    <!-- <script src="/home/contact/app.js"></script> -->
  </body>
</html>
