<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campus Connect</title>
    <link rel="icon" href="https://qph.cf2.quoracdn.net/main-qimg-c5f5739457afba5604fa49ec261d6303" type="image/x-icon">

    <link rel="stylesheet" href="home/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a rel="noopener" href="#">Home</a>
        <a rel="noopener" href="http://localhost:8080/home/about">About</a>
        <a rel="noopener" href="#info">Info</a>
        <!-- <a rel="noopener" href="https://jcer.in/">Review</a> -->
        <a rel="noopener" href="http://localhost:8080/home/contact">Contacts</a>
        <a rel="noopener" href="http://localhost:8080/home/fiq">FAQ</a>
      </nav>
    </header>

    <!-- carousel -->
    <div class="carousel">
      <!-- list item -->
      <div class="list">
        <div class="item">
          <img src="home/image/jain - blur.jpg" alt="jain college" />
          <div class="content">
            <!-- <div class="author">LUNDEV</div> -->
            <div class="title">JAIN COLLEGE OF ENGINEERING AND RESEARCH</div>
            <div class="topic">Belagavi</div>
            <div class="des">
              682/2, 683/2A, Udyambag, Angol, Belagavi, Karnataka 590008
            </div>
            <div class="buttons">
              <button onclick="redirectToResourceofjcer()">RESOURCES</button>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="home/image/kle - blur.jpg" alt="kle college" />
          <div class="content">
            <!-- <div class="author">LUNDEV</div> -->
            <div class="title">KLE TECHNOLOGICAL UNIVERSITY</div>
            <div class="topic">Belagavi</div>
            <div class="des">
              <!-- lorem 50 -->
              Angol Main Rd, KLEMSSCET, kalameshwar Housing Colony, Udyambag,
              Belagavi, Karnataka 590008
            </div>
            <div class="buttons">
              <button class="">RESOURCES</button>
              <!-- <button>SUBSCRIBE</button> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="home/image/gogte - blur.jpg" alt="gogte college" />
          <div class="content">
            <!-- <div class="author">LUNDEV</div> -->
            <div class="title">GOGTE INSTITUTE OF TECHNOLOGY</div>
            <div class="topic">Belagavi</div>
            <div class="des">
              Udyambag Industrial Area, Udyambag, Belagavi, Karnataka 590006
            </div>
            <div class="buttons">
              <button class="">RESOURCES</button>
              <!-- <button>SUBSCRIBE</button> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="home/image/sgbit - blur.jpg" alt="sgbit college" />
          <div class="content">
            <!-- <div class="author">LUNDEV</div> -->
            <div class="title">SG BALEKUNDRI INSTITUTE OF TECHNOLOGY</div>
            <div class="topic">Belagavi</div>
            <div class="des">Nehru Nagar, Belagavi, Karnataka 590010</div>
            <div class="buttons">
              <button class="">RESOURCES</button>
              <!-- <button>SUBSCRIBE</button> -->
            </div>
          </div>
        </div>
      </div>
      <!-- list thumnail -->
      <div class="thumbnail">
        <div class="item">
          <img src="home/image/jain.jpg" alt="jain college" />
          <div class="content">
            <div class="title">JAIN COLLEGE OF ENGINEERING AND RESEARCH</div>
            <!-- <div class="description">
                          Description
                      </div> -->
          </div>
        </div>
        <div class="item">
          <img src="home/image/kle.jpg" alt="kle college" />
          <div class="content">
            <div class="title">KLE TECHNOLOGICAL UNIVERSITY</div>
            <!-- <div class="description">
                        Description
                    </div> -->
          </div>
        </div>
        <div class="item">
          <img src="home/image/gogte.jpg" alt="gogte" />
          <div class="content">
            <div class="title">GOGTE INSTITUTE OF TECHNOLOGY</div>
            <!-- <div class="description">
                        Description
                    </div> -->
          </div>
        </div>
        <div class="item">
          <img src="home/image/sgbit.jpg" alt="sgbit" />
          <div class="content">
            <div class="title">SG BALEKUNDRI INSTITUTE OF TECHNOLOGY</div>
            <!-- <div class="description">
                        Description
                    </div> -->
          </div>
        </div>
      </div>
      <!-- next prev -->

      <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
      </div>
      <!-- time running -->
      <div class="time"></div>
    </div>
    <div id="info">
      <video id="video-background" autoplay muted loop>
        <source src="/videos/acvideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    </div>

    <script src="/home/app.js"></script>
    <!-- <script src="/home/contact/app.js"></script> -->
  </body>
</html>
